<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  {% block head %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ SITEURL }}{% if SUBPATH %} {{ SUBPATH }}{% endif %}/theme/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ SITEURL }}{% if SUBPATH %} {{ SUBPATH }}{% endif %}/theme/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}

  <!--[if IE]>
      <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% endblock head %}
</head>
<body>
    {% if NAVBARFIXED %}
    <div class="navbar-fixed">
    {% endif %}
      <nav class="z-depth-3 {{ NAVCOLLOR }}" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="{{ SITEURL }}/" class="brand-logo z-depth-1">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a>
          <ul class="right hide-on-med-and-down">
          {% for title, link in MENUITEMS %}
            <!-- <li><a href="#">Navbar Link</a></li> -->
            <li><a href="{{ link }}">{{ title }}</a></li>
          {% endfor %}
          {% if DISPLAY_PAGES_ON_MENU -%}
          {% for pg in PAGES %}
            <!-- <li><a href="#">Navbar Link</a></li> -->
            <li{% if pg == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
          {% endfor %}
          {% endif %}
          {% if DISPLAY_CATEGORIES_ON_MENU -%}
          {% for cat, null in categories %}
            <!-- <li><a href="#">Navbar Link</a></li> -->
            <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
          {% endfor %}
          {% endif %}
          </ul>

          <ul id="nav-mobile" class="side-nav">
          {% for title, link in MENUITEMS %}
            <!-- <li><a href="#">Navbar Link</a></li> -->
            <li><a href="{{ link }}">{{ title }}</a></li>
          {% endfor %}
          {% if DISPLAY_PAGES_ON_MENU -%}
          {% for pg in PAGES %}
            <li{% if pg == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
          {% endfor %}
          {% endif %}
          {% if DISPLAY_CATEGORIES_ON_MENU -%}
          {% for cat, null in categories %}
            <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
          {% endfor %}
          {% endif %}
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    {% if NAVBARFIXED %}
    </div>
    {% endif %}
  {% block content %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Starter Template</h1>
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>
  {% endblock %}
  {% block footer %}
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        {% if ABOUTCOMPANY%}
        <div class="col l6 s12">
          {% for name, bio in ABOUTCOMPANY %}
            <h5 class="white-text">{{ name }}</h5>
            <p class="grey-text text-lighten-4">{{ bio }}</p>
          {% endfor %}
        </div>
        {% endif %}
        {% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
        <div class="col l3 s12">
          <h5 class="white-text">Social</h5>
          <ul>
            {% if FEED_ALL_ATOM %}
              <li><a class="white-text" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate">atom feed</a></li>
              {% endif %}
              {% if FEED_ALL_RSS %}
              <li><a class="white-text" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate">rss feed</a></li>
            {% endif %}
            {% for name, link in SOCIAL %}
              <li><a class="white-text" href="{{ link }}">{{ name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% if LINKS %}
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
          {% for name, link in LINKS %}
            <li><a class="white-text" href="{{ link }}">{{ name }}</a></li>
          {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
    {% if COPYRIGHT %}
      <div class="footer-copyright">
         {{ COPYRIGHT }}
      </div>
    {% endif %}
  </footer>
  {% endblock footer%}

  <!--  Scripts-->
  {% block scripts %}
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ SITEURL }}{% if SUBPATH %} {{ SUBPATH }}{% endif %}/theme/js/materialize.js"></script>
  <script src="{{ SITEURL }}{% if SUBPATH %} {{ SUBPATH }}{% endif %}/theme/js/init.js"></script>
  {% endblock scripts %}
  {% include 'analytics.html' %}
  </body>
</html>
